.topbar-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #e6e6e696;
}

.topbar-menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
}
